:root {
	--primary-blue: #4984bb;
	--blue-dark: #2e6497;
	box-sizing: border-box;
	font-size: 16px;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	margin: 0;
}
